{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                {% if current_user.is_authenticated  %}
                <h1 class="page-title">
                    Discover books you'll love
                </h1>
                <h3 class="subtitle">Browse and review our amazing collection of books.</h3>
                <p>Search books from <a href="{{ url_for('search') }}">here</a></p>
        
            {% else %}
                <h1>Welcome to the BookHub! to continue browsing log in <a href="{{ url_for('login') }}">here</a></h1>
        
            {% endif %}
            </div>
        </div>
    </div>
    
{% endblock content %}  